.App {
  text-align: center;
  max-width: 70vw;
}
table{
  width: 70vw;
}
td>img{
  max-width: 90px;
}

button {
  --color: #98c5f9;
  font-family: inherit;
  display: inline-block;
  width: 9em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color:#73b0f6; ;
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

.delete-button{
  background-color: rgb(244, 185, 164);
  color: black;
  border-color: rgb(244, 185, 164);
  width: auto;
  padding: 0 10px;
}